<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.palm83.transoxiana">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <application
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_resource">

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
